/*This file mostly controls the visually look of the game.
Some properties like position and size get set by the game
Feel free to play with things like color or font
*/

html,
body {
  padding: 0;
  margin: 0;
}

#game {background-image:url("https://www.bing.com/images/search?view=detailV2&ccid=eefZRgh6&id=4B22F4EF8AD087EA29B764D2A5BD92E36B8E8267&thid=OIP.eefZRgh6XbqiQxfYf1uRlAHaDP&mediaurl=https%3a%2f%2fvignette.wikia.nocookie.net%2fstarwars%2fimages%2fe%2fec%2fTwilight_of_the_Apprentice_PoP.png%2frevision%2flatest%3fcb%3d20180831022756&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.79e7d946087a5dbaa24317d87f5b9194%3frik%3dZ4KOa%252bOSvaXSZA%26pid%3dImgRaw%26r%3d0&exph=635&expw=1450&q=star+wars+sith+temple&simid=608044112674248859&FORM=IRPRST&ck=624E73ADA75CA7A47D05F509883ED400&selectedIndex=1&ajaxhist=0&ajaxserp=0");
  margin: 10px;
  border: 5px solid black;
  left: 0;
  position: absolute;
  background-size: cover;
}

#left-paddle {
  background-color: black;
  left: 10px;
  height: 25px;
}

#right-paddle {
  background-color: red;
  right: 10px;
}

#instructions {
  display: none;
  bottom: 0;
  position: absolute;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#errors-debug {
  display: none;
  bottom: 0;
  position: absolute;
  margin: 10px;
  padding-left: 400px;
  font-family: Arial, Helvetica, sans-serif;
}

#errors {
  color: red;
  font-weight: 700;
}

#computer-control-state {
  font-weight: 700;
}

#mouse-control-state {
  font-weight: 700;
}

#mute-state {
  font-weight: 700;
}

#volume-state {
  font-weight: 700;
}

.paddle {
  top: 0;
  width: 10px;
  position: absolute;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  left: 50px;
  top: 50px;
}

.score {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
}

#left-score {
  left: 1%;
}

#right-score {
  right: 1%;
}
